
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/assets/images/Home.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Us</h1>
            <p class="lead">
                We create attractive living spaces that balance contemporary aesthetics with usefulness out of a passion for innovation and a commitment to perfection. 
                Our homes redefine contemporary living for the discriminating homeowner, from eco-friendly building materials to smart home technology. 
                With Modern Homes Limited, experience a brand-new era of luxury and relaxation.
            </p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        SetMenuHighlight("about-us");
    });
</script>