@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/assets/images/Contact.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Contact Us</h1>
            <p class="lead">
                At Modern Homes Limited, we're here to help you find your ideal home. Reach out to us right away to begin bringing your concept to life.
            </p>
            <p class="lead">
                <b>Email : </b> modernhomeslimited@outlook.com
            </p>
            <p class="lead">
                <b>Phone : </b> +44 7883301768
            </p>
            <p class="lead">
                <b>Location : </b> Leicester
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        SetMenuHighlight("contact-us");
    });
</script>
