@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1 navMenu">
        <li class="nav-item">
            <a class="nav-link text-dark home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark about-us" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark contact-us" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark all-projects" asp-area="" asp-controller="Project" asp-action="Index">All Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark admin-panel" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary customButtonColor" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    </ul>
</div>

