@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<div class="container px-4" id="icon-grid">
    <h2 class="pb-2 border-bottom">Home Project Settings</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="Dashboard">Dashboard</a></h3>
                <p>View High Level Metrics of the Home Projects</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="ManageLocations">Locations</a></h3>
                <p>View existing list and Add New Locations</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="ManageRooms">Rooms</a></h3>
                <p>View existing list and Add New Rooms</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="ManagePlotTypes">Plot Types</a></h3>
                <p>View and Add New Plot Types, Map Rooms</p>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="ManageProjects">Projects & Plots</a></h3>
                <p>View and Manage Projects and Plots, Map Buyer to plot</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="AllOrders">All Transactions</a></h3>
                <p>View All Paid Orders and download Invoices</p>
            </div>
        </div>
        
    </div>
</div>

<div class="container px-4" id="icon-grid">
    <h2 class="pb-2 border-bottom">Buyer Settings</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="ViewBuyers">Manage Buyers</a></h3>
                <p>View existing Buyer, Send Notifications by plot</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Account" asp-action="Register">Register New Buyer</a></h3>
                <p>Form to complete in order to Add a New Buyer</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-4" id="icon-grid">
    <h2 class="pb-2 border-bottom">Catalogue Settings</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="ManageCatalogues">Catalogue</a></h3>
                <p>All Home Features, Products and their Sub Variants</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="ManageChoicesExtras">Map Choices & Extras</a></h3>
                <p>Set visibility of Catalogue for each room as Choice or Extra</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><a asp-area="" asp-controller="Admin" asp-action="AllCataloguesStock">Stock & Supplier</a></h3>
                <p>View and Update all Catalogue Stock,Email Supplier</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        SetMenuHighlight("admin-panel");
    });
</script>

